body {
    font-family: sans-serif;
    font-weight: lighter;
    background-image: url("cork.jpg");
}

h1 {
    text-align: center;
    font-weight: lighter;
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

p, a {
    color: gray;
    line-height: 1.7em;
    font-size: 13pt;
}

p {
    opacity: 0.0;
    transition: opacity 1.0s;
}

p.show {
    opacity: 1.0;
}

p.choice {
    text-align: center;
}

a:hover {
    color: black;
}

.bulletin {
    position: fixed;
    z-index: 2;
    display: none;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eed294;
    color: #3a3a39;
}
.bulletin:hover,
.bulletin:focus {
    background-color: #c2a25e;
    color: #3a3a39;
  text-decoration: none;
  cursor: pointer;
}

#story {
    position: fixed;
    width: 800px;
    height: 500px;
    top: 50px;
    left: 200px;
    box-shadow:  10px 5px 5px black;
    background-color: #eed294;
    color: #3a3a39;
    z-index: 3;
    overflow: scroll;
}

#subway {
    position: fixed;
    left: 35.8%;
    top: 14.6%;
}
#policeStation {
    position: fixed;
    left: 17%;
    top: 38.6%;
}
#victimOffice {
    position: fixed;
    left: 68%;
    top: 27%;
}
#prison {
    position: fixed;
    left: 5%;
    top: 11%;
}
#morgue {
    position: fixed;
    left: 6%;
    top: 80%;
}
#apartment {
    position: fixed;
    left: 73%;
    top: 59%;
}
#concert {
    position: fixed;
    left: 57%;
    top: 90%;
}

#victim {
    position: fixed;
    left: 42%;
    top: 43%;
}
#serialKiller {
    position: fixed;
    left: 18%;
    top: 20%;
}
#businessPartner {
    position: fixed;
    left: 69%; 
    top: 9%;
}
#currentBoyfriend {
    position: fixed;
    left: 73%;
    top: 50%;
}
#exBoyfriend {
    position: fixed;
    left: 74%;
    top: 75%;
}
#policeOfficer {
    position: fixed;
    left: 19%;
    top: 72%;
}
.close {
    color: #a0a0a0;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: sticky;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}